<h1>tsbase demo</h1>

<input type="text" [(ngModel)]="itemToAdd" (keydown.enter)="addItem()">
<button (click)="addItem()">Add</button>

<input type="text" [(ngModel)]="itemToRemove" (keydown.enter)="removeItem()">
<button (click)="removeItem()">Remove</button>

<br>

<input type="text" [(ngModel)]="itemToFind" (keydown.enter)="findIndex()">
<button (click)="findIndex()">Find Index</button>

<ul>
  <li *ngFor="let item of list.Item">{{item}}</li>
</ul>

<button (click)="clear()">Clear</button>

<button (click)="test()">Test</button>

<hr>

<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Age</th>
  </tr>
  <tr *ngFor="let person of people.Item">
    <td>{{person.firstName}}</td>
    <td>{{person.lastName}}</td>
    <td>{{person.age}}</td>
  </tr>
</table>

<button (click)="customSort()">Sort</button>

<hr>

<div>
  <input [(ngModel)]="requestUri" type="text">
  <button (click)="testHttpClient()">Test HttpClient</button>
  <div [innerHTML]="requestResponse"></div>
</div>